<link rel="import" href="../polymer/polymer.html">

<!--
`<cells-bfm-iv-controller-registration>` description.

Example:

```html
<cells-bfm-iv-controller-registration></cells-bfm-iv-controller-registration>
```

@demo demo/index.html
-->
<dom-module id="cells-bfm-iv-controller-registration">
  <template>



  </template>
  <script src="cells-bfm-iv-controller-registration.js"></script>
</dom-module>
